@import '../../pages/Login/login.scss';
@import '../../pages/Profile/profile.scss';
@import '../../pages/Error/error.scss';
@import '../../pages/Home/home.scss';
@import '../../components/Spinner/spinner.scss';

body {
  margin: 0;
  padding:0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.App{
  display: flex;
  flex-direction: column;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.bg-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  min-height: 80vh;
  overflow: scroll;
  background-color: #12002b;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.headerItem{
  display: flex;
  justify-content: space-between;

}
nav.headerItem > div:nth-child(1) > a:hover {
  color: #42b983;
}

#signOut{
  display: flex;

  > p{
    margin: 0 0 0 5px
  }
  > svg{
    margin-top: 3px;
  }
}

.main-nav-item a {
  text-decoration: none;
  margin-right: 0.5rem;
  font-weight: bold;
  color: #2c3e50;
  vertical-align: middle;
}

.main-nav-item-signin{
  font-weight: bold;
}

.main-nav-item {
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: #42b983;
  }

  & > svg{
    margin-bottom: 0.2rem;
  }
}

.main-nav-item-logo{
  vertical-align: middle;
  margin-bottom: 0.2rem;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 10px 0;
}

.footer-text {
  margin: 0;
  padding: 0;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}