@import '../../pages/Login/login.scss';
@import '../../pages/Profile/profile.scss';
@import '../../pages/Error/error.scss';

body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.headerItem{
  display: flex;
  justify-content: space-between;
}
// .main-nav-item .router-link-exact-active {
//   color: #42b983;
// }s

#signOut{
  display: flex;

  > p{
    margin: 0 0 0 5px
  }
  > svg{
    margin-top: 3px;
  }
}

.main-nav-item a {
  text-decoration: none;
  margin-right: 0.5rem;
  font-weight: bold;
  color: #2c3e50;
  vertical-align: middle;
}

.main-nav-item-signin{
  font-weight: bold;

}

.main-nav-item {
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
    // color: #42b983;
  }

  & > svg{
    margin-bottom: 0.2rem;
  }
}

.main-nav-item-logo{
  vertical-align: middle;
  margin-bottom: 0.2rem;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.hero {
  background-image: url('../../assets/bank-tree.jpeg');
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }

  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }

  .hero-content .subtitle {
    font-size: 1.5rem;
  }

  .hero-content .text {
    font-size: 1.2rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

.footer-text {
  margin: 0;
  padding: 0;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

#editName{
  display: flex;
  flex-direction: column;
  margin : 5px auto;

  > #editName_inputs{
    display: flex;
    justify-content: center;

    > .input-wrapper{
      width: 30%;
      margin: 10px 10px;
    }
  }

  > #editName_buttons{
    display: flex;
    justify-content: center;

    > button{
      margin: 10px 10px;
      width: 100px;
      border: #00bc77 solid 1px;
      color: #00bc77;
    }
  }

  > button{
    color: #00bc77;
    border-color: #00bc77;
    background-color: #fff;
  }
}

#editDiv{
  display: flex;
  justify-content: center;
}